.App {
  height: 100vh;
  width: 100%;
}

hr {
  border-color: #28a745 !important;
}

.story-list-item {
  transition: 0.2s;
}
.story-list-item:hover {
  border-color: orange !important;
}

/* example fade out animation
@keyframes highlight {
  0% {
    background: wa;
  }
  100% {
    background: none;
  }
}

#linked-position {
  animation: highlight 5s;
} */

p.content-anchor:active {
  background-color: #ffc107;
}
